body {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.scoreBoard {
  height: 200px;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.scoreDisplay {
  color: white;
  font-size: 40px;
}

.paddle {
  height: 100px;
  background-color: white;
  width: 1%;
  position: relative;
}

.ball {
  background-color: white;
  position: relative;
}

.playArea {
  width: 1000px;
  height: 700px;
  border: 2px solid white;
  display: flex;
  justify-content: left;
  align-items: top;
}
